html, body{
    margin: 0;
    padding: 0;
    background-color: #00dcff;
}

header{
  background-color: #ffa600;
  width: 80%;
  margin: auto;
  padding: 0 20px 10px;
  color: #505050;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}